<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATK9wOSEjhEHkdmlT7xL8ATUVKoA1AeUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>189026039486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>health-improvement-4a8c6</string>
	<key>STORAGE_BUCKET</key>
	<string>health-improvement-4a8c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189026039486:ios:b05dea60ea7231ed49d0ef</string>
</dict>
</plist>